<!--begin::main_contents_element-->

  <!--begin::notice-->
    <p>
      お知らせ、新着情報、オススメとか
    </p>
    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Link with href
      </a>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Button with data-target
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  <!--end::notice-->

  <!--begin::blog_object-->
    <% @articles.each do |article| %>
      <div class="card m-2">
        <div class="card-body">
          <h3 class="card-title"><%= article.title %></h5>
          <p class="card-text"><%= article.body %></p>
          <p class="card-text">執筆日：<%= article.created_at.to_s.slice(0..9) %></p>
          <a href="#" class="btn btn-primary">読んでみる</a>
        </div>
      </div>
    <% end %>
  <!--end::blog_object-->

  <!--begin::producer_introduction-->
    <div class="card m-2">
      <div class="card-body">
        <h5>管理者情報</p>
        <% if @articles %>
          <p class="card-text">執筆した記事は全部で<%= @articles.count %>個です。</p>
        <% end %>
      </div>
    </div>
  <!--end::producer_introduction-->

<!--end::main_contents_element-->