<!--begin::left_sidebar-->
<li class="col-md-2">
  <section class="left-sidebar">
    <p>
      左サイドバーの要素１
    </p>
    <p>
      左サイドバーの要素２
    </p>
      <p>
      左サイドバーの要素３
    </p>
      <p>
      左サイドバーの要素４
    </p>
      <p>
      左サイドバーの要素５
    </p>
  </section>
</li>
<!--end::left_sidebar-->