<!--begin::left_sidebar-->
<li class="col-md-2">
  <section class="left-sidebar card m-2">
    <table border="5px;" style="width: 100%; background-color: #99FFFF;">
      <tr>
        <th>本日の訪問者</th>
      </tr>
      <tr>
        <td>本日◯◯人</td>
      </tr>
      <tr>
        <th>累計の訪問者</th>
      </tr>
      <tr>
        <td>累計××人</td>
      </tr>
      <tr>
        <th>ブログ開設から</th>
      </tr>
      <tr>
        <td>□□日目</td>
      </tr>
      <tr>
        <th>累計好きぴ</th>
      </tr>
      <tr>
        <td>累計△△人</td>
      </tr>
      <tr>
        <th>好きぴはクリック→<i class="fas fa-heart"></i></th>
      </tr>
    </table>
  </section>
</li>
<!--end::left_sidebar-->