<!--begin::right_sidebar-->
<li class="col-md-2">
  <section class="right-sidebar card m-2">
    <%= render "shared/current_timer" %>
  </section>
  
  <section class="right-sidebar card m-2">
    <%= render "shared/calendar" %>
  </section>
</li>